<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)), url(https://res.cloudinary.com/dqwouraji/image/upload/v1687000269/Dise%C3%B1o_sin_t%C3%ADtulo_jg1e3v.png);">
</div>
