.information-home {
  background-color: #131313;
  color: white; /* Color de texto */
  padding: 30px; /* Ajusta el padding según tus preferencias */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh; /* Opcional: centra verticalmente en la ventana */
}

.information-content {
  flex: 1; /* Ocupa el espacio restante */
  text-align: left;
}

.information-content .title {
  text-align: left; /* Alinea el título a la izquierda */
  margin-bottom: 10px; /* Espacio entre el título y el párrafo */
}

.information-content p {
  text-align: justify; /* Justifica el texto */
}

.information-home .side-image {
  max-width: 150px; /* Limita el ancho de la imagen */
  height: auto;
  max-height: 100%; /* Ajusta la altura de la imagen */
  border-radius: 10px;
  margin-top: 10px;
}



.product-initial {
  background-color: #000000;
  text-align: center;
  padding: 40px;
  h3 {
    font-family: 'Lora', serif;
    color: #ffffff;
  }
  .featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .small {
    display: none;
  }
  .product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
}

@media (max-width: 500px) {
  .product-initial {
    .featured {
      display: none;
    }
    .small {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
}


.questions {
  background-color: #f4f4f4;
  font-family: 'Lora', serif;
  text-align: justify; /* Alinea el texto justificado */

  h1 {
    color: #000000;
    text-align: center; /* Alinea los títulos al centro */
    font-family: 'Lora', serif;
  }

  p {
    text-align: center;
    font-size: 20px;
  }

  /* Estilos de la barra separadora */
  .separator {
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
    margin-bottom: 20px; /* Ajusta el margen inferior según tus preferencias */
  }

  .delivery:last-child::after { /* Agrega una línea al último párrafo */
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-top: 10px; /* Espacio entre el párrafo y la línea */
  }

  /* Estilos para centrar los enlaces */
  .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.instagram-link {
  display: flex;
  color: #232121; /* Color de texto gris claro */
  text-decoration: none;
}

.instagram-link i {
  font-size: 30px;
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.instagram-link .siguenos {
  font-size: 20px; /* Tamaño de fuente más grande */
}

.instagram-link:hover {
  color: #5d5d5d; /* Color de texto gris claro */
}

@media (max-width: 992px) {

  .information-home {
    margin-top: 0; /* Elimina el margen superior */
    flex-direction: column; /* Cambia la dirección del flexbox para centrar verticalmente */
    height: 40vh;
  }

  .information-home .side-image {
    display: none; /* Ajusta el tamaño del ícono */
  }
}

@media (max-width: 766px) {

  .information-content .title {
    font-size: 20px; /* Ajusta el tamaño del ícono */
  }

  .information-content p {
    font-size: 15px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link i {
    font-size: 30px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link .siguenos {
    font-size: 20px; /* Ajusta el tamaño del texto "Síguenos en Instagram" */
  }
}

@media (max-width: 631px) {

  .information-content .title {
    font-size: 15px; /* Ajusta el tamaño del ícono */
  }

  .information-content p {
    font-size: 13px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link i {
    font-size: 27px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link .siguenos {
    font-size: 17px; /* Ajusta el tamaño del texto "Síguenos en Instagram" */
  }
}

@media (max-width: 497px) {

  .information-content .title {
    font-size: 13px; /* Ajusta el tamaño del ícono */
  }

  .information-content p {
    font-size: 11px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link i {
    font-size: 25px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link .siguenos {
    font-size: 15px; /* Ajusta el tamaño del texto "Síguenos en Instagram" */
  }
}

@media (max-width: 369px) {

  .information-content .title {
    font-size: 12px; /* Ajusta el tamaño del ícono */
  }

  .information-content p {
    font-size: 10px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link i {
    font-size: 24px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link .siguenos {
    font-size: 14px; /* Ajusta el tamaño del texto "Síguenos en Instagram" */
  }
}

@media (max-width: 317px) {

  .information-content .title {
    font-size: 10px; /* Ajusta el tamaño del ícono */
  }

  .information-content p {
    font-size: 9px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link i {
    font-size: 23px; /* Ajusta el tamaño del ícono */
  }

  .instagram-link .siguenos {
    font-size: 13px; /* Ajusta el tamaño del texto "Síguenos en Instagram" */
  }
}
