.nav {
  background: $white;
}

.nav img {
  width: 40px;
}

.nav p {
  margin-bottom: 0;
  color: black;
}

/* Estilos iniciales para los enlaces */
.link-lady,
.link-gentleman {
  position: relative;
}

/* Cambios al hacer hover */
.link-lady:hover::after,
.link-gentleman:hover::after {
  width: 100%; /* La línea crece al 100% */
  left: 0; /* La línea se desplaza a la izquierda */
  opacity: 1; /* La línea se vuelve visible */

}

/* Estilo de la línea de abajo */
.link-lady::after,
.link-gentleman::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Ajusta la posición vertical de la línea */
  left: 0; /* Ajusta la posición horizontal inicial de la línea */
  width: 0;
  height: 2px; /* Ajusta el grosor de la línea */
  background-color: #000; /* Color de la línea */
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transiciones suaves */
  opacity: 0; /* Inicialmente, la línea está oculta */
}
