// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 50px;
  margin-right: 0;
}
